p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
    padding-right: 5px;
    margin-left: 80px;
    text-decoration: underline;
    color: darkblue;
}
 span{
    font-size: 20px;
 }

div{
width: 70%;
height: 30px;
margin: auto;
background-color: lightblue;
color: white;
}

a{
    font-size: 25px;
    width: 70%;
    height: 30px;
    margin: auto;
    background-color: red;
    color: white;
    margin: color blue;
    margin-left: 100px;
    }

