p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
    padding-right: 5px;
    margin-left: 80px;
    text-decoration: underline;
}
 span{
    font-size: 20px;
 }

div{
width: 70%;
height: 30px;
margin: auto;
background-color: lightblue;
color: white;
}

a{
    font-size: 25px;
    width: 70%;
    height: 30px;
    margin: auto;
    background-color: red;
    color: white;
    margin: color blue;
    margin-left: 100px;
    }

    body {
        background-color: #ffdd90;
        background-image: url("https://img.freepik.com/vector-premium/patron-transparente-vector-marino-ondas-azules-estilizadas-lineas-curvas-resumen-repetir-fondo-mosaico-diseno-abstracto-onda-agua_570429-38170.jpg?w=2000");
      }